.header {
  font-size: 25px;
  transition: 0.3s;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
width: 100%;
  left:0;
  z-index: 3;
    padding: 30px;
 position: absolute;
  text-align: center;
}

.header-middle {
  width: 100%;
}

.logo {
  font-weight: 600;
  font-size: 25px;
}

.navbar {
  width: 100%;
  text-align: center;

  li {
    width: 100%;

    a {
      width: 100%;
      display: block;
      padding: 20px 10px;
    }

    a:hover {
      background-color: #b1e4f8;
    }
  }


}

.navbar-toggle {
  background-color: $yellow-color;
  z-index: 10;
  height: 40px;
  width: 40px;
  position: absolute;
  top: 10px;
  right: 20px;
  border: solid black 1px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  .line {
    width: 20px;
    height: 3px;
    background-color: black;
    
  }
}

.nav-open {
  background-color: #eaeaea;
 padding-top: 20px;
  height: 90vh;
  .navbar-toggle .line:nth-child(1){
    transform: rotate(45deg);
    position: absolute;
    transition: 0.3s;
  }  
  .navbar-toggle .line:nth-child(2){
    transform: rotate(-45deg);
    position: absolute;
    transition: 0.3s;
  }  
  .navbar-toggle .line:nth-child(3){
  position: absolute;
    transform: rotate(-45deg);
    transition: 0.3s;
  }
}

.nav-close {
  height: 60px;

  .header-middle {
    display: none;

  }

  .header-right {
    display: none;
  }
}
@media (min-width:600px) {
   .navbar-toggle {
    right: 50px;
  }
  
}
@media (min-width:1000px) {
  .navbar-toggle {
    display: none;
  }

  .header {
    position: relative;
    height: auto;
    font-size: 13px;
    flex-direction: row;
    background-color: #fff;
padding: 0;
    justify-content: space-between;
    .header-middle {
      display: block;
      width: auto;
    }

    .header-right {
      display: block;
    }

    .navbar {
      display: flex;

      li {
        width: auto;

        a {
          display: inline-block;
          width: auto;
          padding: 17px;
        }
      }
    }

    .started {}
  }
}